
/* USER COLOR VARIABLES */

:root {
    --background-color: #080D10;
    --background-highlight: #302617;
    --font-color: #DDE4EA;
    --contrast-color: #6FBDED;
}


/* RESET */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
}


/* KEYFRAMES */

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1.0);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1.0);
    }
}


/* BASE STYLES */

body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    color: var(--font-color);
    position: relative;
    overflow-x: hidden;
}

.highlight-color {
    height: 1000px;
    width: 1000px;
    background-image: radial-gradient(closest-side, var(--background-highlight), var(--background-color));
    position: absolute;
    top: -570px;
    left: 15%;
    z-index: -1;
}


/* HEADER STYLES */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 42px 62px;
    /* need width 100% with fixed positioning */
    position: fixed;
    width: 100%;
}

.logo {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    /* first: name; second: timing; third: delay; */
    animation: fade-down 0.5s 0.4s backwards;
}


/* BUTTON STYLES */

.btn {
    background-color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--background-color);
    padding: 10px 20px;
    border-radius: 5000px;
    /* allows for timing of all transitions */
    transition: all 0.3s;
}

.btn:hover {
    transform: scale(1.15);
}

.btn-contact {
    animation: fade-down 0.5s 0.4s backwards;
}


/* MAIN STYLES */

.main {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
    padding: 0 25px;
}


/* INTRO STYLES */

.intro {
    padding-top: 150px;
    animation: fade-up .6s;
}

.first-heading {
    font-weight: 700;
    font-size: 48px;
    opacity: .9;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

.emoji {
    font-size: 32px;
    margin-top: -7px;
    margin-left: 10px;
}

.first-text {
    font-size: 40px;
    opacity: .85;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.4;
}

.first-text-bold {
    font-weight: 600;
}

.name-text {
    color: #EDB96F;
}

.key-text {
    text-decoration: underline solid #EDB96F;
}


/* WORK STYLES */

.work {
    margin-top: 120px;
    height: 1000px;
}


/* TOP */

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-heading {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}


/* FILTERS */

.filters {
    display: flex;
    column-gap: 40px;
}

/* .filter-item {

} */

.filter-button {
 opacity: 0.6;
 font-size: 15px;
 text-transform: uppercase;
 letter-spacing: 2.5px;
 cursor: pointer;
 transition: all .4s;
}

.filter-button:hover {
    opacity: 1;
}

.filter-button--active {
    opacity: 1;
}


/* GRID */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 333px 119px 325px;
    gap: 25px;
}